<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container2">
        <h1>Learn</h1>
        <form id="searchForm" action="/learn" method="post" onsubmit="return validateForm()">
            <div class="search-container">
                <input type="text" id="searchInput" name="searchInput" placeholder="Search country by name">
                <!-- Checkboxes for options -->
                <div class="options">
                    <label><input type="checkbox" name="option" value="country_name"> Name</label>
                    <label><input type="checkbox" name="option" value="country_code"> Country Code</label>
                    <label><input type="checkbox" name="option" value="flag_image_url"> Flag</label>
                    <label><input type="checkbox" name="option" value="capital"> Capital</label>
                    <label><input type="checkbox" name="option" value="region"> Region</label>
                    <label><input type="checkbox" name="option" value="population"> Population</label>
                    <label><input type="checkbox" name="option" value="currency"> Currency</label>
                    <label><input type="checkbox" name="option" value="continent_name"> Continent</label>
                </div>
                <input type="submit" value="Search">
            </div>
            <a href="/main_menu" class="menu-option">Back to Main Menu</a>
        </form>
    </div>

    <script>
        function validateForm() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="option"]');
            var checked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checked = true;
                    break;
                }
            }
            if (!checked) {
                alert("Please select at least one option.");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>
