<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container2">
        <h1>Learn - Cities</h1>
        <a href="/learn_countries" class="menu-option">Switch To Countries</a>
        <form action="{{ url_for('learn_cities') }}" method="post">
            <label for="country">Select a country:</label>
            <select name="country" id="country" required>
                <option value="" disabled selected>Select a country</option>
                {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="num_results">Number of results:</label>
            <input type="number" name="num_results" id="num_results" value="10">
            <br><br>
            <label for="order">Order by populatiom:</label>
            <select name="order" id="order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>
            <br><br>
            <input type="submit" value="Learn">
        </form>
        <a href="/main_menu" class="menu-option">Back to Main Menu</a>

    </div>

</body>

</html>
