<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">
        <h1>Choose A Test Subject</h1>
        <div class="menu-options">
            <a href="/test?subject=Flags" class="menu-option">
                <h2>Flags</h2>
            </a>
            <a href="/test?subject=Capitals_Cities" class="menu-option">
                <h2>Capitals Cities</h2>
            </a>
            <a href="/test?subject=Currencies" class="menu-option">
                <h2>Currencies</h2>
            </a>
        </div>
    </div>

</body>

</html>