<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">
        <h1>Choose A Test Subject</h1>
        <div class="menu-options">
            <a href="/test?subject=Flags of countries" class="menu-option">
                <h2>Flags of countries</h2>
            </a>
            <a href="/test?subject=Capital cities of countries" class="menu-option">
                <h2>Capital cities of countries</h2>
            </a>
            <a href="/test?subject=Currencies of countries" class="menu-option">
                <h2>Currencies of countries</h2>
            </a>
            <a href="/test?subject=Biggest city in country (out of options)" class="menu-option">
                <h2>Biggest city in country (out of options)</h2>
            </a>
        </div>
        <a href="/main_menu" class="menu-option">Back to Main Menu</a>
    </div>

</body>

</html>