<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Area</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container2">
        <h1>Personal Area</h1>
        <p>Welcome to your personal area, {{ current_username }}!</p> <!-- Display current username -->
        <h2>Update Password</h2>
        <form action="/user_personal_area" method="post">
            <div class="input-row">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
            </div>
            <input type="submit" value="Update">
        </form>
        <button class="delete-button" onclick="deleteUserData()">Delete User Data</button> <!-- Delete user data button -->
        <!-- Back to main menu button -->
        <a href="/main_menu" class="menu-option">Back to Main Menu</a>
    </div>

    <script>
        function deleteUserData() {
            var confirmation = confirm("Are you sure you want to delete your user data?");
            if (confirmation) {
                window.location.href = "/delete_user"; // Redirect to delete route
            } else {
                alert("Deletion canceled.");
            }
        }
    </script>
</body>

</html>
